

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header {
    /*margin: 0 auto;*/
    max-width: 100%;
    font-weight: 100;
}

header nav {
    background-color: #333;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    display: flex;
    color: white;
}


header nav a {
    flex: 1 1 100%;
    color: white;
}

header h1 {
    /*margin: 1rem;*/
    font-size: 1.4em;
    color: white;
    text-align: center;
    background-color: #002570;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

nav ul {
    /*background-color: #5a8cef;*/
    margin-top: 150px;
    margin-left: 2rem;
    
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 10px;
    border-color: #002570;
}

.image .card {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
    
}

.image h2 {
    background-color: #002570;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.card h2 {
    background-color: #002570;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

picture img {
    float: right; 
    padding-top: 2rem; 
    padding-right: 2rem;
    padding-left: 1rem;
}

.box figure  {
    float: left; 
    padding-top: 2rem; 
    padding-right: 2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 250px;
}

figure img {
    float: left; 
    /*padding-top: 2rem; */
    padding-right: 2rem;
    padding-left: 1rem;
    /*padding-bottom: 1rem;*/
    width: 250px;
}

figure figcaption {
    text-align: center;
}


.box {
    margin-top: 3rem;
}

.box h3 {
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card p{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section {
    border: 1px solid #bbb;
    margin: 10px;
    border-radius: 10px;
}

nav a:hover {
    background-color: darkgreen;
}

footer {
    /*margin: 1rem auto 0;*/
    max-width: 100%;
    text-align: center;
    font-size: 0.8em;
    color:white;
    border-top: 1px solid #ccc;
    background-color: #002570;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


