@media (min-width: 645px) {

    span {
       /* color: #b00303;*/
        color: brown;
    }

	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}

    h2 {
        text-align: center;
    }
    


    /*nuevo*/

    body {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        color: #333;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    header {
        font-weight: 100;
        background-color: midnightblue;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    header, footer, main {
    max-width: 100%;
    }

    h1 {
        grid-column: 1/2;
        padding-left: 2rem;
    }

    header nav {
        grid-column: 2/3;  
        text-align: center;
    }

    nav ul {
        list-style-type: none;
    }

    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    header nav a {
        color: #fff;
        flex: 1 1 100%;
    }

    nav a:hover {
        background-color: darkgreen;
    }

    .pictures {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        max-width: 100%;
        text-align: center;
        /*border: 1px solid #ccc;*/
        text-align: center;
        
    }

    img {
        filter: drop-shadow(8px 8px 10px black);
        padding: 1rem;
        max-width: 100%;
        display: block;
    }

    section {
        border: 1px solid #ccc;
        background-color: #d9ded9;
        max-width: 100%;
    }
    /*
    img {
        width: 100%;
        height: auto;
        margin-top: 1rem;
        border: 1px solid rgba(0, 0, 0, .3);
        box-shadow: 0 0 10px #333;
        padding: 10px;
    }*/

    footer {
        text-align: center;
        font-size: 0.8em;
        color:white;
        border-top: 1px solid #ccc;
        background-color: #002570;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    span {
        color: #b00303;
    }


    
}

